<!-- Modal -->
<div id="myModal" class="modal" *ngIf="display">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="display=false;">&times;</span>
        <h2>Input properties updater</h2>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        Place holder: <input type="text" name="placeholder"/><br/><br/><br/>
        <button type="submit" class="btn btn-success" [disabled]="!f.form.valid">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <h3>Modal Footer</h3>
      </div>
    </div>
  
  </div>

<h2>Drag and Drop demo</h2>
<div id="div1" (drop)="drop($event)" (dragover)="allowDrop($event)"
>

    <!-- <img src="https://images.pexels.com/photos/658687/pexels-photo-658687.jpeg?auto=compress&cs=tinysrgb&h=350"
        draggable="true" (dragstart)="drag($event)" id="drag1" width="88" height="31" title="Drag this Image"> -->
    <div draggable="true" (dragstart)="drag($event)" id="drag1" width="88" height="31"
        style="color: red; font-weight: bold; border: solid;">
        Red
    </div>
    <div draggable="true" (dragstart)="drag($event)" id="drag2" width="88" height="31"
        style="color: blue; font-weight: bold; border: solid;">
        Blue
    </div>
    <!-- <li *ngFor="let item of list" draggable="true" (dragstart)="drag($event)" id="drag1" width="88" height="31" >
        {{item}}
    </li> -->
</div>

<div id="div2" (drop)="drop($event)" (dragover)="allowDrop($event)">
</div>